@import "tailwindcss";

:root {
  
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url('/img/image3.png') !important; 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
  /* บังคับให้พื้นหลังโปร่งใสเพื่อให้เห็นรูป */
  background-color: transparent; 
  
  min-height: 100vh;
  margin: 0;
}
